
<mat-tab-group class="services-list" mat-align-tabs="center">
    <mat-tab label="Flight"> 
        <mat-form-field appearance="fill" class ="services-list-date">
            <mat-label>Enter a date range</mat-label>
            <mat-date-range-input [rangePicker]="picker">
              <input matStartDate placeholder="Start date">
              <input matEndDate placeholder="End date">
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
          </mat-form-field>
          
    </mat-tab>
    <mat-tab label="Hotels"> Hotel </mat-tab>
    <mat-tab label="Cars"> Cars </mat-tab>
    <mat-tab label="Tours"> Tours </mat-tab>

  </mat-tab-group>
  