<mat-toolbar >
    <button mat-icon-button class="header-icon" aria-label="header icon-button with menu icon" color="primary">
     <mat-icon>menu</mat-icon>
   </button>
   <span class="header-text">Akaris Travels and Tours</span>
   <span class="header-spacer"></span>
   <button mat-icon-button class="header-icon favorite-icon" aria-label="header icon-button with heart icon" color="primary">
     <mat-icon>flight_takeoff</mat-icon>
   </button>
   <button mat-icon-button class="header-icon" aria-label="header icon-button with share icon" color="primary">
    <mat-icon>hotel</mat-icon>

  </button>
  <button mat-icon-button class="header-icon" aria-label="header icon-button with share icon" color="primary">
    <mat-icon>car_rental</mat-icon>
  </button>
 </mat-toolbar>